@import "const.scss";

.match3-game {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid $clr2;
  border-radius: 10px;
  background-color: $clr1;
  text-align: center;
  box-shadow: 0 0 30px 0px $clr3;
  @media only screen and (max-width: 600px) {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .m3-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 20px;
  }
  .m3-board {
    border: 2px solid $clr2;
    border-radius: 8px;
    box-shadow: 0 0 10px 0px $clr3;
    display: flex;
    flex-direction: column;
    align-items: center;
    .m3-row {
      display: flex;
      .m3-cell {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 5px solid $clr1;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
        cursor: pointer;
        &.clicked {
          border-width: 0;
        }
        @media only screen and (max-width: 600px) {
          width: 40px;
          height: 40px;
          &.clicked {
            border-width: 1;
          }
        }
      }
      .red {
        background-image: url(../img/m3-red.png);
      }
      .green {
        background-image: url(../img/m3-green.png);
      }
      .blue {
        background-image: url(../img/m3-blue.png);
      }
      .yellow {
        background-image: url(../img/m3-yellow.png);
      }
      .purple {
        background-image: url(../img/m3-purple.png);
      }
    }
  }
  .m3-game-over {
    position: relative;
    width: 200px;
    top: 250px;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #ff0000;
    background-color: $clr1;
    padding: 5px;
    border: 5px solid $clr2;
    border-radius: 10px;
    @media only screen and (max-width: 600px) {
      top: 225px;
    }
  }
}


