@import "const.scss";

.minesweeper {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid $clr2;
  border-radius: 10px;
  background-color: $clr1;
  text-align: center;
  box-shadow: 0 0 30px 0px $clr3;
  @media only screen and (max-width: 600px) {
    max-width: 100%;
    padding: 10px;
    margin-bottom: 40px;
  }
  .ms-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    .active {
      background-color: $clr2;
      box-shadow: 0 0 5px 0px $clr3;
    }
  }
  .ms-grid {
    display: flex;
    flex-direction: column;
    .ms-row {
      display: flex;
      .ms-cell {
        width: 50px;
        height: 50px;
        font-size: 32px;
        border-top: 3px solid $celltop;
        border-left: 3px solid $celltop;
        border-bottom: 3px solid $cellbottom;
        border-right: 3px solid $cellbottom;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $clr3;
        cursor: pointer;
        &.revealed {
          background-color: $clr1;
        }
        @media only screen and (max-width: 600px) {
          width: 35px;
          height: 35px;
          font-size: 20px;
        }
      }
    }
  }
  .ms-message {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #ff0000;
    background-color: $clr1;
    padding: 5px;
    border: 5px solid $clr2;
    border-radius: 10px;
    @media only screen and (max-width: 600px) {
      top: 80%;
    }
  }
}


